:host {
  --ion-background-color: #ffffff;
  --ion-text-color: #b02bb4;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


/* Styling for the ion-tab-button */
ion-tab-button {
  color: #ffffff; 
  font-weight: bold; 
  padding: 10px; 
}

/* Styling for the ion-icon */
ion-icon {
  font-size: 24px; 
  margin-bottom: 5px; 
}

/* Styling for the active tab */
ion-tab-button.tab-selected {
  background-color: #f0f0f0; 
  border-bottom: 3px solid #f073a7; 
}

/* gallery.component.scss */

/* Set padding and margin to zero to remove default spacing */
ion-grid, ion-row, ion-col {
  padding: 9px;
  margin-top: 10px;
}

/* Style the ion-col to occupy half of the grid */
ion-col {
  width: 10%;
}

/* Style the ion-img to fit its container */
ion-img {
  width: 50%;
  height: 50%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
}
